body {
    background-color: #3d1653;
    
    }
    
    header{
    background-color: #520480;
    }
    
    #imagemprincipal {
    
    width: 100%;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    }
    main {
    
    background-color: rgb(70, 6, 87);
    }
    
    
    h1 { color:black;
    font: size 50px;
    }
    b {
    color: #7e0aeb;
    font-size: 50px ;
    }
    
    #paragrafodiferente {
    font-size: 40px;
    }
    
    i { color:#7b3681;
    }
    footer {
    background-color: #5b2281;
    }
    
    .momentos{
    background-color: #7d5491;
    margin: 10px;
    padding: 10px;
    border: black solid 2px;
    }
    
    .imagemlateral {
    display: inline-block;
    width: 30%;
    height: inherit;
    margin: 20px;
    }
    .lista {
    display: inline-block;
    width: 30%;
    height: inherit;
    vertical-align: top;
    font-size: 40px;
    
    }
    
    li::marker {
    content: "🍗";
    }
